<% if @quote.errors.any? %>
  <% @quote.errors.each do |msg| %>
    <%= msg == :person_id ? 'Enter a quoted person' : msg %>
  <% end %>
<% end %>
<%= simple_form_for @quote do |f| %>
  <%= f.input :quoted_person %>
  <%= f.input :body %>
  <%= f.input :location %>
  Please format as shown below:
  <div class="quote-example">
    <span>Quoted Person</span> said, <q>body</q>, <span>location</span>.
  </div>
  <%= f.submit "Submit Quote" %>
<% end %>
