<%= quote.quoted_person %> said, <q><%= quote.body %></q>, <%= quote.location %>.
<% if quote.created_by == current_user %>
  <%= link_to "delete quote", quote_path(quote), method: :delete  %>
  <%= link_to "edit quote", edit_quote_path(quote) %>
<% end %>
<%=
  render 'votes/voting',
  quote: quote,
  vote: quote.votes.find_by(user: current_user)
%>
<div>
  Quote Love: <%= quote.score %>
</div>
